{% extends 'base.html' %}

{% block menu %}
    <!-- Dashboard link -->
    <li class="nav-item">
        <a class="nav-link" href="/employee">Employee Dashboard</a>
    </li>

    <!-- View customers -->
    <li class="nav-item">
        <a class="nav-link" href="/customers">Customer List</a>
    </li>

    <!-- Add new customer -->
    <li class="nav-item">
        <a class="nav-link" href="/add/customer">Add Customer</a>
    </li>

    <!-- Logout -->
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}